<!DOCTYPE html>
<html>
<head>
    <title>SkillSwap Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard">

    <h1>🎓 SkillSwap Platform</h1>
    <p>Learn, Teach and Connect with Others</p>

    <div class="card">
        <a href="/profile">👤 My Profile</a>
    </div>

    <div class="card">
        <a href="/addskill">📚 Add Skills</a>
    </div>

    <div class="card">
        <a href="/search">🔍 Search Skills</a>
    </div>

    <div class="card">
        <a href="/session">📅 Book Session</a>
    </div>

    <div class="card">
        <a href="/reviews">⭐ Reviews & Ratings</a>
    </div>

    <div class="card">
        <a href="/about">ℹ️ About Project</a>
    </div>

    <div class="card">
        <a href="/">🚪 Logout</a>
    </div>

</div>

</body>
</html>