<!DOCTYPE html>
<html>
<head>
    <title>Reviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form method="POST" action="/reviews">
    <h2>Ratings & Reviews</h2>

    <label>Rating</label>
    <input type="text" name="rating" placeholder="Enter Rating" required>

    <label>Review</label>
    <input type="text" name="review" placeholder="Write Review" required>

    <button type="submit">Submit Review</button>

    <a href="/dashboard">Back</a>
</form>

</body>
</html>